[submodule "boilerplate/src/lib/entry-tool"]
	path = boilerplate/src/lib/entry-tool
	url = https://github.com/entrylabs/entry-tool
	branch = dist/20221024
[submodule "boilerplate/src/lib/entry-js"]
	path = boilerplate/src/lib/entry-js
	url = https://github.com/entrylabs/entryjs
	branch = dist/offline_v2.0.54
