* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
}
#entryCanvas {
  position: fixed;
  border: none;
  height: 100% !important;
  width: 100% !important;
  object-fit: contain;
  background-color: black;
}
.entrySceneWorkspace, .propertyPanel, .entryObjectSelectedImgWorkspace, .entryPlaygroundWorkspace, .entryEngineButtonWrapper, .entryEngineWorkspace_w > :not(#entryCanvas) {
  display: none !important;
}
.entryEngineWorkspace_w {
  border: none !important;
}
#bintry-credit {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 700;
}
